# ignore your VM share directory and all its contents
A2-2025/myvm/**

# ignore Python cache and notebooks checkpoints
*.pyc
__pycache__/
.ipynb_checkpoints/

# anything else you never want tracked
/tmp/
/build/
